# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.
#
# Link to help info - https://git-scm.com/docs/gitignore
#

# Log file
*.log

# IntelliJ
*.iml
**.iml
*.ipr
*.iws
.idea
venv

# Eclipse
.cache
.classpath
.project
.checkstyle

.settings
.externalToolBuilders
maven-eclipse.xml

# Mac OS
__MACOSX

# vscode editor
**/.vscode*/**
**/.factorypath
**/**.code-workspace

# ignore binaries (downloaded as needed as they are platform dependent)
testbin/**
bin/**

# build output
cover.out
