# permissions for end users to view egeriaplatforms.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: egeriaplatform-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: egeria
    app.kubernetes.io/part-of: egeria
    app.kubernetes.io/managed-by: kustomize
  name: egeriaplatform-viewer-role
rules:
- apiGroups:
  - egeria.egeria-project.org
  resources:
  - egeriaplatforms
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - egeria.egeria-project.org
  resources:
  - egeriaplatforms/status
  verbs:
  - get
