apiVersion: egeria.egeria-project.org/v1alpha1
kind: EgeriaPlatform
metadata:
  name: egeriaplatform-sample
spec:
  # Add fields here
  replicas: 3
  autostart: false
  egerialoglevel: "DEBUG"
  serverconfig:
   - cocomds1
