apiVersion: egeria.egeria-project.org/v1alpha1
kind: EgeriaPlatform
metadata:
  labels:
    app.kubernetes.io/name: egeriaplatform
    app.kubernetes.io/instance: egeriaplatform-sample
    app.kubernetes.io/part-of: egeria
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: egeria
  name: egeriaplatform-sample
spec:
  replicas: 3
  serverconfig:
   - cocomds1
  # Useful for debugging
  autostart: true
  #egerialoglevel: "DEBUG"
  # Dummy file for validating connector download (or indeed any library that is needed)
  libraries:
    - url: http://www.google.com
      filename: notreallyalibrary.jar
