apiVersion: egeria.egeria-project.org/v1alpha1
kind: EgeriaPlatform
metadata:
  name: egeriaplatform-sample
spec:
  replicas: 3
  serverconfig:
   - cocomds1
  # Useful for debugging
  #autostart: false
  #egerialoglevel: "DEBUG"
