apiVersion: egeria.egeria-project.org/v1alpha1
kind: EgeriaPlatform
metadata:
  name: egeriaplatform-sample
spec:
  replicas: 3
  serverconfig:
   - cocomds1
  # Useful for debugging
  autostart: true
  #egerialoglevel: "DEBUG"
  # Dummy file for validating connector download (or indeed any library that is needed)
  libraries:
    - url: http://www.google.com
    - filename: notreallyalibrary.jar
