
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.1
  creationTimestamp: null
  name: egeriaplatforms.egeria.egeria-project.org
spec:
  group: egeria.egeria-project.org
  names:
    kind: EgeriaPlatform
    listKind: EgeriaPlatformList
    plural: egeriaplatforms
    singular: egeriaplatform
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Current pods running
      jsonPath: .status.pods
      name: Pods
      type: string
    - description: Deployment
      jsonPath: .status.deployment
      name: Deployment
      type: string
    - description: Time since create
      jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: EgeriaPlatform is the Schema for the egeriaplatforms API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: 'EgeriaPlatformSpec : Desired State for Egeria Platform'
            properties:
              image:
                default: docker.io/odpi/egeria:latest
                description: Container image to use, overriding operator configuration
                maxLength: 253
                minLength: 1
                type: string
              replicas:
                default: 1
                description: 'TODO: Look at moving to use the standard scaling approach
                  https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#scale-subresource
                  Number of replicas for this platform (ie number of pods to run)'
                format: int32
                maximum: 1000
                minimum: 1
                type: integer
              security-secret:
                description: Secret containing TLS keys and certs
                maxLength: 253
                minLength: 1
                type: string
              servers:
                items:
                  description: 'EgeriaServerSpec : Server spec'
                  properties:
                    config-secret:
                      description: k8s secret containing only the full server config
                        document
                      maxLength: 253
                      minLength: 1
                      type: string
                    name:
                      description: Name of this server - must match name in provided
                        config
                      maxLength: 220
                      minLength: 1
                      type: string
                  required:
                  - config-secret
                  - name
                  type: object
                maxItems: 20
                minItems: 0
                type: array
            required:
            - servers
            type: object
          status:
            description: 'EgeriaPlatformStatus : Observed state of Egeria Platform'
            properties:
              active:
                description: list of server names that are active - this should match
                  those configured
                items:
                  type: string
                type: array
              deployment:
                type: string
              pods:
                items:
                  type: string
                type: array
              service:
                description: Get info about the config being used
                type: string
              version:
                description: 'Observed Egeria version from platform origin TODO: Version
                  - may be better via healthchecks'
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
