
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: egeriaplatforms.egeria.egeria-project.org
spec:
  group: egeria.egeria-project.org
  names:
    kind: EgeriaPlatform
    listKind: EgeriaPlatformList
    plural: egeriaplatforms
    singular: egeriaplatform
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: EgeriaPlatform is the Schema for the egeriaplatforms API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: Desired State for Egeria Platform
            properties:
              image:
                description: Container image to use, overriding operator configuration
                type: string
              replicas:
                description: 'TODO: Add name into spec Number of replicas for this
                  platform (ie number of pods to run)'
                format: int32
                type: integer
              security-secret:
                description: Secret containing TLS keys and certs
                type: string
              servers:
                items:
                  properties:
                    config-secret:
                      description: k8s secret containing only the full server config
                        document
                      type: string
                    name:
                      description: Name of this server - must match name in provided
                        config
                      type: string
                  required:
                  - config-secret
                  - name
                  type: object
                type: array
              storage:
                properties:
                  storageclass:
                    description: Optional Storage Class for PVC - empty will use default
                    type: string
                  storagesize:
                    description: Optional Persistent Storage size ie 10G for PVC
                    type: string
                type: object
            required:
            - servers
            type: object
          status:
            description: Observed state of Egeria Platform
            properties:
              active:
                description: list of server names that are active - this should match
                  those configured
                items:
                  type: string
                type: array
              version:
                description: Observed Egeria version from platform origin
                type: string
            required:
            - active
            - version
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
